.tox
.venv
.coverage
.mypy_cache
.ruff_cache
dist
__pycache__
.tests_coverage
.pytest_cache
vendor/*
.claude/settings.local.json
.claude/plans/*
.local/*
must-gather*
.bash_profile
.bashrc
.idea
HEAD
refs
objects
hooks
.zshrc
.zprofile
.vscode
.ripgreprc
.profile
.mcp.json
